@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

body{
    overflow-x: hidden;
    background-image: url(../view/img/Fondo.png);
}

*{
    margin: 0;
}

/*dropdown*/
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited{
    background-color: #fc5500 !important;
}

.categorias{
    margin-left: 95px;
    margin-top: 35px;
}

.categ{
    background-color: #fc5500;
    color: #000;
    font-weight: 700;
    border: 0;
    font-size: 20px;
}

.categ:hover{
    background-color: #fc5500;
    color: #fff;
}

.lista{
    background-color: #fc5500;
    
}

.lista a{
    color: #fff;
    font-weight: 700;
}

/*Titulo*/
.titleP{
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-family: 'Secular One', sans-serif;
    margin-top: 40px;
    margin-right: 40px;
    font-weight: 900;
    font-size: 60px;
    color: #fff;
}

/*Contenedor Principal*/
.ContainerCards{
    display: grid;
    grid-template-columns: auto auto auto;
}

@media (max-width: 1157px){
    .ContainerCards{
        display: grid;
        grid-template-columns: auto auto;
    }
}

@media (max-width: 772px){
    .ContainerCards{
        display: grid;
        grid-template-columns: auto;
    }
}

.ContainerCards .card{
    margin: 0 auto;
    border-radius: 18px;
    background-color: #D0D0D0;
    margin-bottom: 30px;
    margin-top: 60px;
}

.ContainerCards .ImgCard{
    background-color: #fc5500;
    display: block;
    margin: 0 auto;
    width: 100%;
    border-radius: 18px 18px 0 0;
    padding: 10px;
}

.ContainerCards .card img{
    height: 200px;
    width: 210px;
    border-radius: 50%;
    border: 7px solid #fff;
    display: block;
    margin: 0 auto;
}

.card .card-text{
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    font-family: 'Secular One', sans-serif;
    font-size: 25px;
}

.card .text_card{
    display: block;
    margin: 0 auto;
    background-color: #fc5500;
    width: 30%;
    padding: 8px;
    border-radius: 12px;
    text-align: center;
    font-weight: 700;
    color: #fff;
}

.botonVer{
    border: 0;
}